<h1>Notes</h1>

<% if logged_in? %>
  <h3><%= current_user['first_name'] %>'s Notes</h3>
  
  <section class="controls">
    <form action="/sessions" method="POST">
      <input type="hidden" name="_method" value="delete">
      <button>Log out</button>
    </form>
    
    <a href="/notes/new">New note</a>
  </section>

  <section class="notes">
    <% notes.each do |note| %>
      <% if note['note_type'] == 'note' && note['temp_note'] == 'f' %>
        <section class="note">
          <header>
            <h2><%= note['title'] %></h2>

            <section class="controls">
              <a href="/notes/<%= note['id'] %>/edit">Edit</a>
              
              <form action="/notes/<%= note['id'] %>" method="POST">
                <input type="hidden" name="_method" value="delete">
                <button class="delete-btn">Delete</button>
              </form>
            </section>
          </header>

          <p><%= note['date'] %></p>
          <p class="note-content"><%= note['note'] %></p>

        </section>
      <% elsif  note['note_type'] == 'list' && note['temp_note'] == 'f' %>
        <section class="note">
          <header>
            <h2><%= note['title'] %></h2>

            <section class="controls">
              <a href="/notes/<%= note['id'] %>/edit">Edit</a>
              
              <form action="/notes/<%= note['id'] %>" method="POST">
                <input type="hidden" name="_method" value="delete">
                <button class="delete-btn">Delete</button>
              </form>
            </section>
          </header>

          <p><%= note['date'] %></p>
          <p class="note-content"><%= note['note'] %></p>

        </section>
      <% end %>
    <% end %>
  </section>
<% else %>
  <a href="/users/new">Sign Up</a>
  <a href="/sessions/new">Log In</a>  
  <a href="/new-temp-note">New note</a>
<% end %>